:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;
  --space-9: 4rem;
  --space-10: 5rem;

.mb1{
margin-bottom: var(--space-1);
}

.mb2{
margin-bottom: var(--space-2);
}

.mb3{
margin-bottom: var(--space-3);
}

.mb4{
margin-bottom: var(--space-4);
}

.mb5{
margin-bottom: var(--space-5);
}

.mb6{
margin-bottom: var(--space-6);
}

.mb7{
margin-bottom: var(--space-7);
}

.mb8{
margin-bottom: var(--space-8);
}
.mt1{
margin-top: var(--space-1);
}

.mt2{
margin-top: var(--space-2);
}

.mt3{
margin-top: var(--space-3);
}

.mt4{
margin-top: var(--space-4);
}

.mt5{
margin-top: var(--space-5);
}

.mt6{
margin-top: var(--space-6);
}

.mt7{
margin-top: var(--space-7);
}

.mt9{
margin-top: var(--space-8);
}


body {
background: var(--theme-background-1);
  margin: 0;
  padding: 0;
  height: 100%; 
  min-height: 100vh; /
  width: 100vw;
  overflow: hidden;    touch-action: manipulation;
}

a, input, button
{
    touch-action: manipulation;
}
/*paragraph */
p {
color: var(--theme-foreground-2);
}

p.small {
font-size: 0.875rem;
}
p.large {
font-size: 1.125rem;
}

.weight-medium{
font-weight: 500;}

.weight-bold{
font-weight: 600;}

/* headings */
h1, h2, h3, h4, h5, h6 {
font-weight: 600;
color: var(--theme-foreground-1);
}

h1 {
font-size: 2.5rem;
}
h2 {
font-size: 2rem;
}
h3 {
font-size: 1.75rem;
}
h4 {
font-size: 1.5rem;
}
h5 {
font-size: 1.25rem;
}
h6 {
font-size: 1rem;
}

:is([class*="u-text-style-"], h1, h2, h3, h4, h5, h6, p, blockquote) {
	display: flow-root;
}
:is([class*="u-text-style-"], h1, h2, h3, h4, h5, h6, p, blockquote)::before {
	content: "";
	display: table;
	margin-bottom: calc(-0.5lh + 0.37em);
}
:is([class*="u-text-style-"], h1, h2, h3, h4, h5, h6, p, blockquote)::after {
	content: "";
	display: table;
	margin-bottom: calc(-0.5lh + 0.36em);
}

/* primary btn */
button {
align-items: center;
justify-content: center;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
font-weight: 600;
background: var(--theme-foreground-1);
color: var(--theme-background-2);
border-radius: var(--border-radius-main)!important;
}

/* small button */
button.small {
padding-left: 0.75rem;
padding-right: 0.75rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

/* secondary button */
button.secondary {
background: var(--theme-background-2);
color: var(--theme-foreground-1);

}

/*brand button */
button.brand {
background: var(--theme-brand);
color: var(--theme-brand-foreground);
}


.desktop-max-width{
max-width:500px;
}


::-webkit-scrollbar{display:none}*{scrollbar-width:none;scrollbar-color:transparent transparent}body{-ms-overflow-style:none}:root{interpolate-size:allow-keywords}
}
